.wrapper {
width: 100%;
}

.tableWrapper {
   border-collapse: collapse;
width: 100%;
margin: 20px;
}
.tableWrapper th, td{
   border:solid black 1px;
}

.projectTitle {
margin: 20px;

}
.projectTitle.act{
border: solid blue;
}

.icon{
  font-size:25px;
}
.icon:hover{
  cursor: pointer;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statusUserAndDesc {
  display: flex;
  flex-direction: row;
}
.statusCell{
  max-width: 100%;
  word-break: break-word;

}